sudo: required
services:
  - docker
language: go
go:
  - '1.7'
before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get update -q
  - sudo apt-get install glide -y
  - mkdir -p $GOPATH/bin
install:
  - make deps
script:
  - make ci-test
after_success:
  - bash <(curl -s https://codecov.io/bash)
